.zurag5 * {
  box-sizing: border-box;
  width: 99.66%;
  justify-self: center;
  gap: 5px;
}
.zurag5 {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
}
.z5 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.z6 {
  display: flex;
  width: 49.3%;
  justify-content: center;
  aspect-ratio: 5/3;
  position: relative;
  flex-wrap: wrap;
  font-size: 100%;
}
.z6 img {
  z-index: -1;
  max-height: 98%;
  position: absolute;
}
.z7 > h1 {
  font-size: 36px;
  font-family: "inter", sans-serif;
  display: flex;
  justify-content: center;
}
.z7 > p {
  font-size: 18px;
  font-family: "inter", sans-serif;
  display: flex;
  justify-content: center;
}
.z7 > h2 {
  font-size: 24px;
  font-family: "inter", sans-serif;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, #0f9dff, #a144f5, #f93582);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.z7 {
  display: flex;
  flex-direction: column;
  gap: 17px;
  height: 100%;
  margin-top: 30px;
}
.z0 {
  width: 100%;
  height: 55%;
}
.hero-butt1 {
  display: flex;
  width: 100%;
  height: 44px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.hero-butt1 button:first-child {
  padding: 12px 20px;
  background-color: rgb(75, 75, 235);
  color: #f5f5f7;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  width: fit-content;
}
.hero-butt1 button:last-child {
  padding: 10px 18px;
  border-radius: 40px;
  color: rgb(75, 75, 235);
  background-color: transparent;
  border-color: rgb(75, 75, 235);
  font-size: 16px;
  width: fit-content;
}
.z8 > h1 {
  font-size: 36px;
  color: #f5f5f7;
  font-family: "inter", sans-serif;
  display: flex;
  justify-content: center;
}
.z8 > p {
  font-size: 18px;
  font-family: "inter", sans-serif;
  color: #f5f5f7;
  display: flex;
  justify-content: center;
}
.z8 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 17px;
  height: 90%;
}
.hero-butt2 {
  display: flex;
  width: 100%;
  height: 44px;
  justify-content: center;
  align-items: center;
}
.hero-butt2 .butt9 {
  padding: 12px 20px;
  background-color: rgb(75, 75, 235);
  color: #f5f5f7;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  width: 176px;
}
.z9 > h1 {
  font-size: 36px;
  font-family: "inter", sans-serif;
  display: flex;
  justify-content: center;
}
.z9 > p {
  font-size: 18px;
  font-family: "inter", sans-serif;
  display: flex;
  justify-content: center;
}
.z9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 13px;
  height: 37%;
  width: 18%;
}
.z9 img {
  width: 35px;
  height: 39px;
  opacity: 1;
  display: flex;
}
